In [16]:

# � Problem 1: Employee Salary Insights 🐼 
# �
# � Scenario: 
# A company maintains employee records in a Pandas DataFrame. Each employee has a 
# name, department, age, salary, and years of experience. The HR department needs 
# insights into salary distribution, promotions, and department-wise analysis. 
# �
# � Given DataFrame: 
# import pandas as pd 
# data = { 
# 'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 
# 'Grace', 'Hannah'], 
# 'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT', 
# 'HR'], 
# 'Age': [25, 32, 29, 41, 37, 45, 26, 38], 
# 'Salary': [50000, 70000, 65000, 80000, 75000, 90000, 62000, 
# 85000], 
# 'Experience': [2, 7, 5, 15, 10, 20, 3, 12] 
# } 
# df = pd.DataFrame(data) 


import pandas as pd 
data = { 
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah'], 
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT', 'HR'], 
    'Age': [25, 32, 29, 41, 37, 45, 26, 38], 
    'Salary': [50000, 70000, 65000, 80000, 75000, 90000, 62000, 85000], 
    'Experience': [2, 7, 5, 15, 10, 20, 3, 12] 
}

df = pd.DataFrame(data)

avg_salary_dept = df.groupby("Department")["Salary"].mean()
print("Average Salary in Each Department:\n", avg_salary_dept)

high_experience_salary = df[(df["Experience"] > 5) & (df["Salary"] > 65000)]
print("\nEmployees with More than 5 Years of Experience and Salary Above $65,000:\n", high_experience_salary)

sorted_it_employees = df[df["Department"] == "IT"].sort_values(by="Salary", ascending=False)
print("\nIT Department Employees Sorted by Salary (Descending):\n", sorted_it_employees)

Average Salary in Each Department:
 Department
Finance    82500.000000
HR         71666.666667
IT         65666.666667
Name: Salary, dtype: float64

Employees with More than 5 Years of Experience and Salary Above $65,000:
   Employee Department  Age  Salary  Experience
1      Bob         IT   32   70000           7
3    David         HR   41   80000          15
4     Emma    Finance   37   75000          10
5    Frank    Finance   45   90000          20
7   Hannah         HR   38   85000          12

IT Department Employees Sorted by Salary (Descending):
   Employee Department  Age  Salary  Experience
1      Bob         IT   32   70000           7
2  Charlie         IT   29   65000           5
6    Grace         IT   26   62000           3

In [20]:
import pandas as pd 

# Given DataFrame
data = { 
    'Student': ['John', 'Sara', 'Mike', 'Anna', 'David', 'Emily', 'Chris', 'Sophia'], 
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math', 'Science', 'Math', 'Science'], 
    'Marks': [85, 72, 90, 65, 78, 88, 92, 55], 
    'Attendance': [92, 80, 95, 70, 85, 90, 97, 60] 
}

df = pd.DataFrame(data)
avg_marks_subject = df.groupby("Subject")["Marks"].mean()
print("Average Marks for Each Subject:\n", avg_marks_subject)

high_marks_low_attendance = df[(df["Marks"] > 85) & (df["Attendance"] < 90)]
print("\nStudents Scoring Above 85 with Less than 90% Attendance:\n", high_marks_low_attendance)


correlation = df["Marks"].corr(df["Attendance"])
print("\nCorrelation between Marks and Attendance:", correlation)

Average Marks for Each Subject:
 Subject
Math       86.25
Science    70.00
Name: Marks, dtype: float64

Students Scoring Above 85 with Less than 90% Attendance:
 Empty DataFrame
Columns: [Student, Subject, Marks, Attendance]
Index: []

Correlation between Marks and Attendance: 0.9901770851376991